<div class="search-bar">
  <form> 
      <input type="text" name="city" placeholder="Search a City" [(ngModel)]="city">
      <button type="button" (click)="getWeather()">Enter</button>
  </form>
</div>
<div class="container"> 
    <div class="upper-card"> 
      <img src="../assets/test.png"> 
      <img src="../assets/test.png"> 
      <div class="weather-data"> 
        <div class="location">{{weatherData.name}}</div>
        <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
      </div>
    </div>
  
    <div class="lower-card"> 
      <div class="info-label">Weather Details:</div>
      <div class="info-container">
        <div class="info-block">
          <div class="info-block-label">
            <!-- <img src="../assets/test.jpeg">  -->
            <span>Min Temp</span>
          </div>
          <div class="info-value">
            {{weatherData.main.temp_min | number: '1.0-0'}}°C
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <!-- <img src="../assets/test.jpeg">  -->
            <span>Max Temp</span>
          </div>
          <div class="info-value">
            {{weatherData.main.temp_max | number: '1.0-0'}}°C
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <!-- <img src="../assets/test.jpeg">  -->
            <span>Humidity</span>
          </div>
          <div class="info-value">
            {{weatherData.main.humidity}}%
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <!-- <img src="../assets/test.jpeg">  -->
            <span>Wind Speed</span>
          </div>
          <div class="info-value">
            {{weatherData.wind.speed}}km/h
          </div>
        </div>
      </div>
    </div>
  </div>
  
  